In [2]:
import pandas as pd
import numpy as np

In [3]:
deliveries=pd.read_csv(r"D:\ML\Projects\IPL\deliveries.csv")
matches=pd.read_csv(r"D:\ML\Projects\IPL\matches.csv")

In [4]:
matches.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [5]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [6]:
deliveries_df=deliveries[['match_id','inning','batting_team','bowling_team','over','ball','total_runs','is_wicket']]
deliveries_df=deliveries_df[deliveries_df['inning']==2]
deliveries_df

,match_id,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket
124,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,1,0
125,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,1,0
126,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,0,0
127,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,1,0
128,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,1,0
...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,1,0
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,1,0
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,1,0
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,1,0
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,1,0

In [7]:
matches_df=matches[['id','city','winner','target_runs','target_overs','super_over']]
matches_df=matches_df[matches['super_over']=='N']
matches_df

,id,city,winner,target_runs,target_overs,super_over
0,335982,Bangalore,Kolkata Knight Riders,223.0,20.0,N
1,335983,Chandigarh,Chennai Super Kings,241.0,20.0,N
2,335984,Delhi,Delhi Daredevils,130.0,20.0,N
3,335985,Mumbai,Royal Challengers Bangalore,166.0,20.0,N
4,335986,Kolkata,Kolkata Knight Riders,111.0,20.0,N
...,...,...,...,...,...,...
1090,1426307,Hyderabad,Sunrisers Hyderabad,215.0,20.0,N
1091,1426309,Ahmedabad,Kolkata Knight Riders,160.0,20.0,N
1092,1426310,Ahmedabad,Rajasthan Royals,173.0,20.0,N
1093,1426311,Chennai,Sunrisers Hyderabad,176.0,20.0,N
1094,1426312,Chennai,Kolkata Knight Riders,114.0,20.0,N

In [8]:
matches_df['winner'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Delhi Daredevils',
       'Royal Challengers Bangalore', 'Rajasthan Royals',
       'Kings XI Punjab', 'Deccan Chargers', 'Mumbai Indians',
       'Pune Warriors', 'Kochi Tuskers Kerala', nan,
       'Sunrisers Hyderabad', 'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Gujarat Titans', 'Lucknow Super Giants',
       'Royal Challengers Bengaluru'], dtype=object)

In [9]:
teams=[
    'Sunrisers Hyderabad',
    'Mumbai Indians',
    'Royal Challengers Bangalore',
    'Kolkata Knight Riders',
    'Punjab Kings',
    'Chennai Super Kings',
    'Rajasthan Royals',
    'Delhi Capitals',
    'Gujarat Titans',
    'Lucknow Super Giants'
]

In [10]:
matches_df['winner']=matches_df['winner'].str.replace('Delhi Daredevils','Delhi Capitals')
matches_df['winner']=matches_df['winner'].str.replace('Kings XI Punjab','Punjab Kings')
matches_df['winner']=matches_df['winner'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

deliveries_df['batting_team']=deliveries_df['batting_team'].str.replace('Delhi Daredevils','Delhi Capitals')
deliveries_df['batting_team']=deliveries_df['batting_team'].str.replace('Kings XI Punjab','Punjab Kings')
deliveries_df['batting_team']=deliveries_df['batting_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
deliveries_df['bowling_team']=deliveries_df['bowling_team'].str.replace('Delhi Daredevils','Delhi Capitals')
deliveries_df['bowling_team']=deliveries_df['bowling_team'].str.replace('Kings XI Punjab','Punjab Kings')
deliveries_df['bowling_team']=deliveries_df['bowling_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [11]:
matches_df=matches_df[matches_df['winner'].isin(teams)]
matches_df.shape

(1023, 6)

In [12]:
deliveries_df=deliveries_df[deliveries_df['batting_team'].isin(teams)]
deliveries_df=deliveries_df[deliveries_df['bowling_team'].isin(teams)]
deliveries_df.shape

(111082, 8)

In [13]:
matches_df=matches_df[matches_df['target_overs']==20]
matches_df

,id,city,winner,target_runs,target_overs,super_over
0,335982,Bangalore,Kolkata Knight Riders,223.0,20.0,N
1,335983,Chandigarh,Chennai Super Kings,241.0,20.0,N
2,335984,Delhi,Delhi Capitals,130.0,20.0,N
3,335985,Mumbai,Royal Challengers Bangalore,166.0,20.0,N
4,335986,Kolkata,Kolkata Knight Riders,111.0,20.0,N
...,...,...,...,...,...,...
1090,1426307,Hyderabad,Sunrisers Hyderabad,215.0,20.0,N
1091,1426309,Ahmedabad,Kolkata Knight Riders,160.0,20.0,N
1092,1426310,Ahmedabad,Rajasthan Royals,173.0,20.0,N
1093,1426311,Chennai,Sunrisers Hyderabad,176.0,20.0,N
1094,1426312,Chennai,Kolkata Knight Riders,114.0,20.0,N

In [14]:
deliveries_df

,match_id,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket
124,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,1,0
125,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,1,0
126,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,0,0
127,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,1,0
128,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,1,0
...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,1,0
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,1,0
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,1,0
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,1,0
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,1,0

In [15]:
data=pd.merge(matches_df[['id','city','winner','target_runs']],deliveries_df,left_on='id',right_on='match_id')
data.head(10)

,id,city,winner,target_runs,match_id,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket
0,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,1,0
1,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,1,0
2,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,0,0
3,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,1,0
4,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,1,0
5,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,6,0,0
6,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,7,0,0
7,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,1,0,1
8,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,2,0,0
9,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,3,4,0

In [16]:
data.batting_team.unique()

array(['Royal Challengers Bangalore', 'Punjab Kings', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Sunrisers Hyderabad', 'Gujarat Titans',
       'Lucknow Super Giants'], dtype=object)

In [17]:
data['curr_score']=data.groupby('match_id')['total_runs'].cumsum()
data['runs_left']=data['target_runs']-data['curr_score']
data['balls_left']=120-(data['over']*6+data['ball'])

In [18]:
data

,id,city,winner,target_runs,match_id,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket,curr_score,runs_left,balls_left
0,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,1,0,1,222.0,119
1,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,1,0,2,221.0,118
2,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,0,0,2,221.0,117
3,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,1,0,3,220.0,116
4,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,1,0,4,219.0,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107700,1426312,Chennai,Kolkata Knight Riders,114.0,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,1,0,110,4.0,61
107701,1426312,Chennai,Kolkata Knight Riders,114.0,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,1,0,111,3.0,60
107702,1426312,Chennai,Kolkata Knight Riders,114.0,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,1,0,112,2.0,59
107703,1426312,Chennai,Kolkata Knight Riders,114.0,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,1,0,113,1.0,58
107704,1426312,Chennai,Kolkata Knight Riders,114.0,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,1,0,114,0.0,57

In [19]:
wickets=data.groupby('match_id')['is_wicket'].cumsum()
data['wickets_left'] =10-wickets
data

,id,city,winner,target_runs,match_id,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket,curr_score,runs_left,balls_left,wickets_left
0,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,1,0,1,222.0,119,10
1,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,1,0,2,221.0,118,10
2,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,0,0,2,221.0,117,10
3,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,1,0,3,220.0,116,10
4,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,1,0,4,219.0,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107700,1426312,Chennai,Kolkata Knight Riders,114.0,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,1,0,110,4.0,61,8
107701,1426312,Chennai,Kolkata Knight Riders,114.0,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,1,0,111,3.0,60,8
107702,1426312,Chennai,Kolkata Knight Riders,114.0,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,1,0,112,2.0,59,8
107703,1426312,Chennai,Kolkata Knight Riders,114.0,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,1,0,113,1.0,58,8
107704,1426312,Chennai,Kolkata Knight Riders,114.0,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,1,0,114,0.0,57,8

In [20]:
data['nrr']=(data['curr_score']*6)/(data['over']*6+data['ball'])
data['rrr']=(data['runs_left']*6)/(data['balls_left'])
data

,id,city,winner,target_runs,match_id,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket,curr_score,runs_left,balls_left,wickets_left,nrr,rrr
0,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,1,0,1,222.0,119,10,6.000000,11.193277
1,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,1,0,2,221.0,118,10,6.000000,11.237288
2,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,0,0,2,221.0,117,10,4.000000,11.333333
3,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,1,0,3,220.0,116,10,4.500000,11.379310
4,335982,Bangalore,Kolkata Knight Riders,223.0,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,1,0,4,219.0,115,10,4.800000,11.426087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107700,1426312,Chennai,Kolkata Knight Riders,114.0,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,1,0,110,4.0,61,8,11.186441,0.393443
107701,1426312,Chennai,Kolkata Knight Riders,114.0,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,1,0,111,3.0,60,8,11.100000,0.300000
107702,1426312,Chennai,Kolkata Knight Riders,114.0,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,1,0,112,2.0,59,8,11.016393,0.203390
107703,1426312,Chennai,Kolkata Knight Riders,114.0,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,1,0,113,1.0,58,8,10.935484,0.103448
107704,1426312,Chennai,Kolkata Knight Riders,114.0,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,1,0,114,0.0,57,8,10.857143,0.000000

In [21]:
def result(obj):
    if obj.batting_team==obj.winner:
        return 1
    return 0
data['result']=data.apply(result,axis=1)

In [22]:
df=data[['city','batting_team','bowling_team','target_runs','runs_left','balls_left','wickets_left','nrr','rrr','result']]
df=df[df['balls_left']!=0]
df

,city,batting_team,bowling_team,target_runs,runs_left,balls_left,wickets_left,nrr,rrr,result
0,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,223.0,222.0,119,10,6.000000,11.193277,0
1,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,223.0,221.0,118,10,6.000000,11.237288,0
2,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,223.0,221.0,117,10,4.000000,11.333333,0
3,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,223.0,220.0,116,10,4.500000,11.379310,0
4,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,223.0,219.0,115,10,4.800000,11.426087,0
...,...,...,...,...,...,...,...,...,...,...
107700,Chennai,Kolkata Knight Riders,Sunrisers Hyderabad,114.0,4.0,61,8,11.186441,0.393443,1
107701,Chennai,Kolkata Knight Riders,Sunrisers Hyderabad,114.0,3.0,60,8,11.100000,0.300000,1
107702,Chennai,Kolkata Knight Riders,Sunrisers Hyderabad,114.0,2.0,59,8,11.016393,0.203390,1
107703,Chennai,Kolkata Knight Riders,Sunrisers Hyderabad,114.0,1.0,58,8,10.935484,0.103448,1
107704,Chennai,Kolkata Knight Riders,Sunrisers Hyderabad,114.0,0.0,57,8,10.857143,0.000000,1

In [23]:
df.isnull().sum()

city            5622
batting_team       0
bowling_team       0
target_runs        0
runs_left          0
balls_left         0
wickets_left       0
nrr                0
rrr                0
result             0
dtype: int64

In [24]:
df.dropna(inplace=True)
df

,city,batting_team,bowling_team,target_runs,runs_left,balls_left,wickets_left,nrr,rrr,result
0,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,223.0,222.0,119,10,6.000000,11.193277,0
1,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,223.0,221.0,118,10,6.000000,11.237288,0
2,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,223.0,221.0,117,10,4.000000,11.333333,0
3,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,223.0,220.0,116,10,4.500000,11.379310,0
4,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,223.0,219.0,115,10,4.800000,11.426087,0
...,...,...,...,...,...,...,...,...,...,...
107700,Chennai,Kolkata Knight Riders,Sunrisers Hyderabad,114.0,4.0,61,8,11.186441,0.393443,1
107701,Chennai,Kolkata Knight Riders,Sunrisers Hyderabad,114.0,3.0,60,8,11.100000,0.300000,1
107702,Chennai,Kolkata Knight Riders,Sunrisers Hyderabad,114.0,2.0,59,8,11.016393,0.203390,1
107703,Chennai,Kolkata Knight Riders,Sunrisers Hyderabad,114.0,1.0,58,8,10.935484,0.103448,1
107704,Chennai,Kolkata Knight Riders,Sunrisers Hyderabad,114.0,0.0,57,8,10.857143,0.000000,1

In [25]:
df=df.sample(df.shape[0])
df

,city,batting_team,bowling_team,target_runs,runs_left,balls_left,wickets_left,nrr,rrr,result
62606,Mumbai,Rajasthan Royals,Mumbai Indians,169.0,65.0,42,9,8.000000,9.285714,1
102999,Hyderabad,Sunrisers Hyderabad,Chennai Super Kings,166.0,6.0,13,6,8.971963,2.769231,1
7129,Port Elizabeth,Delhi Capitals,Royal Challengers Bangalore,150.0,11.0,11,6,7.651376,6.000000,1
5753,Chandigarh,Rajasthan Royals,Punjab Kings,222.0,126.0,49,7,8.112676,15.428571,0
23822,Kolkata,Mumbai Indians,Kolkata Knight Riders,176.0,101.0,65,8,8.181818,9.323077,1
...,...,...,...,...,...,...,...,...,...,...
104397,Lucknow,Lucknow Super Giants,Chennai Super Kings,177.0,161.0,107,10,7.384615,9.028037,1
3950,Mumbai,Mumbai Indians,Chennai Super Kings,157.0,19.0,41,9,10.481013,2.780488,1
18912,Mumbai,Sunrisers Hyderabad,Chennai Super Kings,143.0,142.0,113,10,0.857143,7.539823,0
58034,Hyderabad,Sunrisers Hyderabad,Mumbai Indians,148.0,67.0,66,7,9.000000,6.090909,1
25353,Mumbai,Rajasthan Royals,Mumbai Indians,198.0,101.0,50,7,8.314286,12.120000,0

In [26]:
df.city.unique()

array(['Mumbai', 'Hyderabad', 'Port Elizabeth', 'Chandigarh', 'Kolkata',
       'Bangalore', 'Centurion', 'Abu Dhabi', 'Chennai', 'Visakhapatnam',
       'Delhi', 'Ahmedabad', 'Johannesburg', 'Pune', 'Dharamsala',
       'Dubai', 'Jaipur', 'Mohali', 'Bengaluru', 'Durban', 'Kimberley',
       'Guwahati', 'Indore', 'Lucknow', 'Raipur', 'Cuttack', 'Sharjah',
       'Cape Town', 'Bloemfontein', 'Navi Mumbai', 'Nagpur', 'Ranchi',
       'East London'], dtype=object)

In [28]:
X=df.drop('result',axis='columns')
Y=df.result

In [29]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

In [30]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

trf=ColumnTransformer([
    ('trf',OneHotEncoder(drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

pipe=Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [36]:
X_test.columns

Index(['city', 'batting_team', 'bowling_team', 'target_runs', 'runs_left',
       'balls_left', 'wickets_left', 'nrr', 'rrr'],
      dtype='object')

In [40]:
pipe.fit(X_train,y_train)

c:\Users\ADMIN\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\compose\_column_transformer.py:1624: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first'),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [41]:
y_prediction=pipe.predict(X_test)

In [42]:
pipe.score(X_test,y_test)

0.8115813793442461

In [43]:
pipe.predict_proba(X_test)[2]

array([0.2814963, 0.7185037])

In [44]:
import pickle
with open('ipl_prob','wb') as f:
    pickle.dump(pipe,f)

In [38]:
df.to_csv('cleaned_data.csv',index=False)

In [48]:
data=[
    ('Ahmedabad','Delhi Capitals','Gujarat Titans',181,61,24,6,7.5,15.25)
]
dataset=pd.DataFrame(data,columns=['city','batting_team','bowling_team','target_runs','runs_left','balls_left','wickets_left','nrr','rrr'])
pipe.predict_proba(dataset)

array([[0.84023625, 0.15976375]])